<div class="card clickable rounded-lg border-2 border-black">
  <div class="types-container mt-2">
    @for (type of pokemon.default_variety.types; track type.name){
    <img [src]="type.sprite_url" alt="type_logo">
    <p>{{type.name}}</p>
    }
  </div>
  <div [ngClass]="getBackgroundClass()" class="flex justify-center">
    <img [src]="pokemon.default_variety.sprites?.artwork_url" [alt]="pokemon.name" class="h-24">
  </div>
  <div class="flex flex-row items-center border-t-2 border-black rounded-lg justify-evenly">
    <div class="flex flex-col items-start w-2/3 p-2 mt-2">
      <p class="font-bold">{{ pokemon.name }} <br></p>
      <span>n°{{ pokemon.id | formatPokemonId }}</span>
    </div>
    <div class="items-end">
      <img src="assets/pokeball_disabled.svg" alt="jemenfoudesaveugles">
    </div>
  </div>
 
</div>